package components

templ Title(title string) {
    if title!="" {
        <title>{title} | Fralla - Fashion & Lifestyle</title>    
    } else {
        <title>Fralla - Fashion & Lifestyle</title>
    }  
}